<script>
'use strict';
$(() => {

  const displayNames = $('.display-name');
  const displayContent = $('#display-content');
  displayNames.click((event) => {
    const element = $(event.target);
    cd.selectedDisplayName = element.data('name').trim();
    displayNames.removeClass('selected');
    element.addClass('selected');
    const index = element.data('index');
    const content = $(`#contents_${index}`).val();
    displayContent.val(content);
  });
  const random = (n) => Math.floor(Math.random() * n);
  const any = random(displayNames.length);
  $(displayNames[any]).click().scrollIntoView();

});
</script>

<table id="display-box">
  <tr>
    <td>
      <div id="display-names">
        <% @display_names.each.with_index do |name,index| %>
          <div class="display-name"
               data-name="<%= name %>"
               data-index="<%= index %>">
            <%= escape_html name %>
          </div>
        <% end %>
      </div>
    </td>
    <td>
      <textarea id="display-content" readonly="readonly"></textarea>
    </td>
  </tr>
</table>

<div style="display:none;">
  <% @display_contents.each.with_index do |content,index| %>
     <textarea id="contents_<%= index %>"><%= escape_html content %>
     </textarea>
  <% end %>
</div>
